* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}


body {
    width: 100%;
    overflow-x: hidden;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    transition: background 0.2s linear;
    position: relative;
}

body .content {
    display: block;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden;
}

#closeToggle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f29441;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}


.drop {
    position: relative;
}

.drop .sub {
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}


.over-top-i {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 50;
    color: #27346d;
    padding: 12px;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
}

.show {
    display: block !important;
    opacity: 1 !important
}

.navbar {
    background-color: transparent !important;
    border: 0px !important;
}

.navbar-default {
    background-color: none !important;
    border: 0px !important;
}

.navbar-default .navbar-form {
    display: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.blob {
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 5s infinite;
    display: grid;
    margin-right: 20px;
}

.blob.blue {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 1s infinite;
}


@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

header .dropMenu .sub {
    min-width: 230px;
    height: auto;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    padding: 12px 0;
    transition: .3s;
    border-radius: 0 0 10px 10px;
    background-color: var(--background-color-2);
    border-left: 1px solid hsla(0, 0%, 100%, .078);
    border-bottom: 1px solid hsla(0, 0%, 100%, .078);
    border-right: 1px solid hsla(0, 0%, 100%, .078);
}

header .dropMenu:hover .sub {
    opacity: 1 !important;
}

a {
    text-decoration: none !important;
}

ul {
    padding: none !important;
    list-style: none !important;
}

.ml0 {
    margin-left: 0px !important
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileMenu {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media screen and (max-width:992px) {
    .mobileMenu {
        margin-left: -100%;
    }

}

@media screen and (max-width:992px) {
    .col-sm-zoom70 {
        zoom: 70%;
    }

}

.colored-hover-text4:hover span {
    color: white !important;
}

.sub-content li:last-child {
    border-bottom: 0px !important;
}

.mirror {
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media screen and (max-width:992px) {
    .drop .sub {
        position: relative;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(13px, 0);
    }

    50% {
        transform: translate(-13px, 5px);
    }

    100% {
        transform: translate(13px, 0);
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translate(13px, 0);
    }

    50% {
        -moz-transform: translate(-13px, 5px);
    }

    100% {
        -moz-transform: translate(13px, 0);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(13px, 0);
    }

    50% {
        -webkit-transform: translate(-13px, 5px);
    }

    100% {
        -webkit-transform: translate(13px, 0);
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translate(13px, 40);
    }

    50% {
        -webkit-transform: translate(-13px, 20px);
    }

    100% {
        -webkit-transform: translate(0px, 0);
    }
}