#card {
    position: relative;
    padding: 120px 0;
    border: none;
}

#card .content-img {
    direction: rtl;
    position: relative;
}

#card .content-img .card-one {
    position: absolute;
    top: 15%;
    left: -200px;
    -webkit-box-shadow: 0px 7.12744px 35.6372px rgb(0 0 0 / 25%);
    box-shadow: 0px 7.12744px 35.6372px rgb(0 0 0 / 25%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    animation: slide 2s linear infinite;
}

#card .content-img .card-two {
    position: absolute;
    bottom: 10%;
    right: 0px;
    animation: slide 2s linear infinite;
    -webkit-box-shadow: 0px 7.12744px 35.6372px rgb(0 0 0 / 25%);
    box-shadow: 0px 7.12744px 35.6372px rgb(0 0 0 / 25%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    animation-delay: 3s;
}
#card .card-area {
    position: relative;
    padding: 120px 0;
}
#card h6 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #006bff;
}

#card h2 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 700;
    color: #27346d;
}

#card p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #545a79;
    margin-bottom: 32px;
}

#card ul li {
    list-style-position: outside;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #27346d;
    font-size: 24px;
    line-height: 34px;
}

#card .icon-checked-mark1 {
    width: 30px;
    height: 30px;
    background-color: #00cf86;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width:992px) {
    #card {
        padding: 50px;
    }
    #card .card-area {
        padding-left: 10px;
        padding-right: 10px;
    }

    #card .contain-img {
        display: none;
    }

    #card h6 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    #card h2 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 700;
    }

    #card p {
        font-size: 16px;
        line-height: 26px;
    }

    #card ul li {
        font-size: 20px;
        line-height: 30px;
    }
}